<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td>
          <a href="/owners/<%= owner.id %>">
            <%= owner.full_name %>
          </a>
        </td>
        <td><%= owner.email %></td>
        <td><%= owner.phone %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path %>


<h4><em>Go back to the <a href="/houses">Houses</a> homepage!</em></h4>
<h4><em>Go back to the <a href="/garages">Garages</a> homepage!</em></h4>
<h4><em>Go back to the <a href="/cars">Cars</a> homepage!</em></h4>
