<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Owner:</strong>
  <a href="/owners/<%= @house.owner.id %>">
    <%= @house.owner.full_name %>
  </a>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
