<p id="notice"><%= notice %></p>

<p>
  <strong>Space number:</strong>
  <%= @garage.space_number %>
</p>

<p>
  <strong>House:</strong>
  <a href="/houses/<%= @garage.house.id%>">
    <%= @garage.house.address %>
  </a>
</p>

<%= link_to 'Edit', edit_garage_path(@garage) %> |
<%= link_to 'Back', garages_path %>
